/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply styles to the main container */
  .flex-container {
    display: flex;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .title-contact {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .message-contact {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .image-container:hover {
    transform: scale(1.1);
    border: 1px solid #777;
  }
  
  .image-container img {
    width: 50px; 
    height: auto; 
    margin: 5px; 
    transition: transform 0.5s ease-in-out; 
  }
  
  .icon-image:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .image-container:nth-child(1) {
    
    animation: slideIn ease-out 0.8s;
  }
  
  .image-container:nth-child(2) {
    animation: slideIn ease-out 0.6s;
  }
  
  .image-container:nth-child(3) {
    animation: slideIn ease-out 1s;
  }
  
  .image-container:nth-child(4) {
    animation: slideIn ease-out 0.8s;
  }
  
  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
  }
  